/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header{
	// width: 100%;
	// height: 100%;
	// position: fixed;
	// top: 0;
	// left: 0;
	.js-overlays01 {
		width: 50vw;
		height: 100vh;
		position: fixed;
		top: 0; 
		left: 0;
		z-index: 1;
		path{
			&:nth-of-type(1) {
				fill: #FFF;
			}
			&:nth-of-type(2) {
				fill: rgb(249, 151, 151);
			}
		}
	}
	.js-overlays02 {
		width: 50vw;
		height: 130vh;
		position: fixed;
		top: -30vh; 
		right: 0;
		z-index: 1;
		transform: rotate(180deg);
		path{
			&:nth-of-type(1) {
				fill: #FFF;
			}
			&:nth-of-type(2) {
				fill: rgb(250, 171, 171);
			}
		}
	}
	&__logo{
		position: fixed;
		top: 20px;
		left: 30px;
		cursor: pointer;
		z-index: 999999;
		span{
			color: #FFF;
			font-size: 3rem;
			line-height: 1;
			font-weight: bold;
			padding-right: 10px;
			position: relative;
			&:after{
				content: "";
				width: 6px;
				height: 6px;
				background: #FFF;
				border-radius: 50%;
				position: absolute;
				right: 0;
				bottom: 7px;
			}
		}
		&:hover{
			span{
				&:after{
					animation: logo 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
			}
		}
	}
	&__toggle{
		width: 65px;
		height: 65px;
		position: fixed;
		top: 20px;
		right: 30px;
		border-radius: 50%;
		overflow: hidden;
		z-index: 999999;
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: #FFF;
			position: absolute;
			transform: scale(0.8);
			transition: all .8s cubic-bezier(.645, .045, .355, 1);
		}
		&:hover{
			&:before{
				transform: scale(1);
			}
		}
		label {
			display: block;
			cursor: pointer;
			position: absolute;
			top: calc(50% - 40px);
			left: calc(50% - 40px);
			width: 80px;
			height: 80px;
		}
		svg{
			circle {
				fill: #FFF;
				opacity: 1;
			}
			path {
				fill: none;
				stroke: #de6161;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
				--length: 24;
				--offset: -38;
				stroke-dasharray: var(--length) var(--total-length);
				stroke-dashoffset: var(--offset);
				transition: all .8s cubic-bezier(.645, .045, .355, 1);
			}
			.line--1,
			.line--3 {
				--total-length: 126.64183044433594;
			}
			.line--2 {
				--total-length: 70;
			}
		}
		input{
			display: none;
			&:checked+svg {
				.line--1,
				.line--3 {
					--offset: -94.1149185097;
					--length: 22.627416998;
				}
				.line--2 {
					--offset: -50;
					--length: 0;
				}
			}
		}

	}
	&__inner{
		@include clear;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		display: none;
		&.is-open{
			display: block;
		}	
	}
	&__canvas{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
		&.is-open{
			opacity: 1;
		}
		canvas{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__left{
		width: 50%;
		height: 100%;
		//background: #de6161;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__right{
		width: 50%;
		height: 100%;
		//background: #faabab;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__box{
		p{
			color: #FFF;
			font-size: 5rem;
			line-height: 1;
			margin-bottom: 10px;
			@include mincyo;
			font-weight: bold;
			cursor: pointer;
			&:hover{
				color: #303f80;
			}
		}
	}
	&__title{
		margin: 0 0 40px;
		position: relative;
		color: #303f80;
		letter-spacing: .2em;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.5rem;
		padding-left: 20px;
		&:before{
			content: "";
			width: 7px;
			height: 7px;
			background: #303f80;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
	}
	&__social{
		display: flex;
		flex-wrap: wrap;
		li{
			position: relative;
			&:not(:first-child){
				padding-left: 20px;
				&:before{
					content: "";
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: #FFF;
					position: absolute;
					left: 8px;
					top: 50%;
					transform: translateY(-50%)
				}
			}			
			a{
				color: #FFF;
				text-decoration: none;
				font-size: 1.5rem;
				font-weight: bold;
				text-transform: uppercase;
				&:hover{
					color: #666;
				}
			}
		}
	}
	&__nav{
		li{
			display: block;
			&:not(:first-child){
				margin-top: 10px;
			}
			a{
				color: #FFF;
				text-decoration: none;
				@include mincyo;
				font-size: 5rem;
				line-height: 1;
				font-weight: bold;
				&:hover{
					opacity: 1;
					color: #303f80;
				}
			}
		}
	}
}
/*
------------------------------------------------------------*/
@keyframes logo {
    0%,100%{
    	transform: translateY(0);
    }
    50%{
    	transform: translateY(-17px);
    }
}