$wFull: 100%;
$w33: calc(100%/3);
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
body{
	//overflow: hidden;
	//background: #a8d0e6;
	background: #24305e;
}
.l-main{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.l-content{
	width: 100%;
	height: 100%;
	padding: 50px;
}

/*
------------------------------------------------------------*/
.c-loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgb(250, 141, 141);
	//opacity: 0;
	&__text{
		margin-bottom: 30px;
		p{
			text-align: center;
			font-size: 1.6rem;
			color: #FFF;
			transform: translateY(-30px);
			opacity: 0;
			animation: loading-text2 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);	
			animation-delay: 0.2s;
		}
	}
	&__txt{
		position: relative;
		height: 124px;
		width: 457px;
		span{
			display: inline-block;
			overflow: hidden;			
			font-size: 12rem;
			line-height: 1;
			color: #FFF;
			font-weight: bold;
			font-family: 'Josefin Sans', sans-serif;
			position: absolute;
			bottom: 0;
			height: 124px;
			&:nth-of-type(1){
				width: 82px;
				left: 0;
				&:before{
					width: 31px;
					left: 0;
					animation: loading-text 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
				&:after{
					content: "";
					width: 31px;
					height: 100%;
					background: rgb(250, 141, 141);
					position: absolute;
					bottom: 0;
					right: 0;
					animation: loading-text 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
			}
			&:nth-of-type(2){
				width: 74px;
				left: 82px;
				&:before{
					width: 48px;
					left: 0;
					animation: loading-text 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
			}
			&:nth-of-type(3){
				width: 74px;
				left: 155px;
				&:before{
					width: 48px;
					left: 0;
					animation: loading-text 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
			}
			&:nth-of-type(4){
				width: 74px;
				left: 228px;
				&:before{
					width: 48px;
					left: 0;
					animation: loading-text 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
			}
			&:nth-of-type(5){
				width: 49px;
				right: 107px;
				&:before{
					width: 25px;
					right: 0;
					animation: loading-text 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
			}
			&:nth-of-type(6){
				width: 66px;
				right: 41px;
				&:before{
					width: 41px;
					right: 0;
					animation: loading-text 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				}
			}
			&:nth-of-type(7){
				width: 21px;
				right: 20px;
				transform: translateY(-40px);
				animation: loading-dot 0.8s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);
				&:before{
					content: "";
					width: 20px;
					height: 20px;
					background: #FFF;
					position: absolute;
					left: 0;
					bottom: 35px;
					border-radius: 80% 0 55% 50%/55% 0 80% 50%;
				    transform: rotateZ(-45deg);
				    animation: loading-dot2 0.2s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000);	
				    animation-delay: 0.5s;
				}
			}
			&:before{
				content: "";
				height: 100%;
				background: rgb(250, 141, 141);
				position: absolute;
				bottom: 0;
			}
		}
	}
	&__icon{
		width: 100px;
		height: 40px;
		overflow: hidden;
		position: relative;
		span{
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #0014ffe0;
			position: absolute;
			top: 0;
			left: -8px;
			animation: loading 1.2s infinite ease;
			&:nth-of-type(1){
				animation-delay: 0s;
			}
			&:nth-of-type(2){
				animation-delay: 0.1s;
			}
			&:nth-of-type(3){
				animation-delay: 0.2s;
			}
		}
	}
	.js-overlays03{
	    width: 150vw;
	    height: 250vh;
	    position: fixed;
	    //top: 0;
	    //right: -100%;
	    z-index: 10;
	    transform: rotate(135deg);
		path{
			&:nth-of-type(1) {
				fill: #FFF;
			}
			&:nth-of-type(2) {
				fill: #a8d0e6;
			}
		}
	}
}

@keyframes loading {
    0%{
    	transform: translate(0,0);
    }
    5%{
    	transform: translate(13px,3px);
    }
    10%{
    	transform: translate(26px,8px);
    }
    15%{
    	transform: translate(37px,15px);
    }
    20%{
    	transform: translate(47px,23px);
    }
    25%{
    	transform: translate(54px,32px);
    }
    30%{
    	transform: translate(61px,22px);
    }
    35%{
    	transform: translate(71px,13px);
    }
    40%{
    	transform: translate(83px,7px);
    }
    45%{
    	transform: translate(95px,3px);
    }
    50%,100%{
    	transform: translate(108px, 0);
    }
}
@keyframes loading-text {
	100%{
		width: 0;
	}
}
@keyframes loading-text2 {
	0%{
		transform: translateY(-30px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes loading-dot {
    0%{
    	transform: translateY(-40px);
    }
    100%{
    	transform: translateY(0px);
    }
}
@keyframes loading-dot2{
	0%{
		border-radius: 80% 0 55% 50%/55% 0 80% 50%;
	}
	100%{
		border-radius: 50%;
	}
}