/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgtxt{
	&__img{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}