/*------------------------------------------------------------
top
------------------------------------------------------------*/
.p-top{
	position: relative;
	width: 100%;
	height: 100vh;
	&__canvas01{
		position: absolute;
		top: -70px;
		right: 0;
		width: 100%;
		height: calc(50vh + 140px);
		z-index: -2;
		canvas{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__canvas02{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: -1;
		canvas{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

/*top01
------------------------------------------------------------*/
.p-top01{
	width: calc((100%/3)*2);
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

/*top02
------------------------------------------------------------*/
.p-top02{
	width: calc(100%/3);
	height: 50vh;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

/*top03
------------------------------------------------------------*/
.p-top03{
	width: calc(100%/3);
	height: 50vh;
	position: absolute;
	right: 0;
	top: 50vh;
	z-index: 1;
}